<ion-header>

    <ion-navbar>
        
        <button ion-button float-right (click)="voltarHome()"><ion-icon name="md-arrow-back"></ion-icon></button>
        <ion-title *ngIf="!selectedFeed">Adicionar novos feeds</ion-title>
        <ion-title>{{selectedFeed?.title}}</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
    <ion-list *ngIf="selectedFeed" class="spinner">
        <ion-item *ngFor="let item of articles" class="feed-article">
            <div class="article-title">{{item.title}}</div><br>
            <p [innerHtml]="item.description"></p>
            <button ion-button clear item-end (click)="openArticle(item.link)">Ver</button>
            <button ion-button clear item-end color="danger" (click)="comp(item)">Compartilhar</button>
        </ion-item>
    </ion-list>
    <ion-row *ngIf="!selectedFeed">
        <ion-col text-center>
            Click na notícia!
        </ion-col>
    </ion-row>

</ion-content>
