<ion-header>

    <ion-navbar>
        <ion-title>Links de Feeds</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item *ngFor="let feed of feeds">
            <h2> {{ feed.title }} </h2>
            <p> {{ feed.url }} </p>
            <button ion-button clear item-end (click)="openFeed(feed)">Ver</button>
            <button ion-button clear item-end color="danger" (click)="deleteFeed(feed)">Excluir</button>
        </ion-item>
    </ion-list>


    <button ion-button full (click)="addFeed()" action secondary>
            <ion-icon name="add"></ion-icon> Add Feed
    </button>

</ion-content>
