<ion-header>

  <ion-navbar>
    <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
